{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

     <h2 class="text-center mt-4">Register With Us As a Freelancer</h2>
		 <hr>
	 <div class="row">
	 	 <div class="col col-md-4 offset-md-4" >
		    <form method="POST" action="{% url 'freelancer_signup'%}" enctype="multipart/form-data">
		    	{% csrf_token %}

		    		{{ form|crispy }}
		    		<input type="submit" class="btn btn-primary" name="register" value="Register">


		    </form>
    	</div>

	 </div>

{% endblock %}
