{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% if form.errors %}
		<div class="alert alert-warning alert-dismissable" role="alert">
	<button class="close" data-dismiss="alert">
	<small><sup>x</sup></small>
	</button>
				Your form has errors
				{% for field in form%}
				{% if field.errors %}
					{{ field.errors }}
				{% endif %}
				{% endfor%}
		</div>
		{% endif%}

{% block content %}
 
     <h2 class="text-center">Register With Us</h2>
	 <div class="row">
	 	 <div class="col col-md-4 offset-md-4" >
		    <form method="POST" action="{% url 'freelancer_signup'%}" enctype="multipart/form-data">
		    	{% csrf_token %}  		
		    			 
		    		{{ form|crispy }}
		    		<input type="submit" class="btn btn-primary" name="register" value="Register">
		    	
		    	
		    </form>
    	</div>

	 </div>
   
{% endblock %}