{% extends 'admin/report_base.html' %}

{% block title %}
<title>Worksite| Report-payment Task</title>
{% endblock %}

{% block content%}

            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">payment Task-Report</h4>
                                    </div>
                                       <div class="card-body">
                                           {% if payments %}
                                           <table class = "table table-sm table-responsive-md" id="freelancersReport">
                                                <thead>
                                                        <tr>
                                                            <th>Transactiion ID</th>
                                                            <th>Phone Number</th>
                                                            <th>Amount</th> 
                                                            <th>Payment Date</th>
                                                            <th>Status</th>
                                                                                                                                                                          
                                    
                    
                                                        </tr>
                                                        </the@permission_required('admin.can_add_log_entry')ad>
                                                        <tbody>
                                                            {% for payment in payments %}
                                                            <tr>
                                                                <td>{{ payment.Mpesa_Receipt_Number }}</td>
                                                                <td>{{ payment.Phone_Number }}</td> 
                                                                <td>{{ payment.Amount }}</td>                                                              
                                                                <td>{{ payment.Transaction_Date }}</td>
                                                                <td>
                                                                    
                                                                {% if payment.Result_Code == 0 %}
                                                                <span class="text-success">Success</span>
                                                                {% else %}
                                                                <span class="text-danger">Fail</span>
                                                                {% endif %}
                                                                    
                                                                    </td>
                                                            </tr>

                                                            {% endfor %}
                                                            
                                                        </tbody>

                                           </table>
                                           {% else %}
                                           <p>No  payment  tasks yet</p>
                                           {% endif %}
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}

