{% extends 'admin/report_base.html' %}

{% block title %}
<title>Worksite| Reports-Home</title>
{% endblock %}

{% block content%}



            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Welcome</h4>
                                    </div>
                                       <div class="card-body">
                                           <p>You are suppost to generate reports for this platform at this section Navigate in the menu section, it might look different from the management side but all the functionilites are decribed in details from the guide section.</p>
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}

