{% extends 'client/base.html' %}

{% block title %}
<title>Worksite| Client-Tasks</title>
{% endblock %}

{% block content%}



            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Completed Tasks</h4>
                                    </div>
                                       <div class="card-body">
                                       <!-- Tab links -->
                                       {% if completed_tasks %}
                               
                                            <table class = "table">
                                            <thead>
                                                <tr>
                                                    <th>Task ID</th>
                                                    <th>Bid ID</th>
                                                    <th>Tittle</th>
                                                    <th>Freelancer</th>
                                                    <th>Action</th>
                                                    <th>Rating</th>
                                                    
                                                    
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for complete_task in completed_tasks %}
                                                <tr>
                                                    <td>{{ complete_task.bid.task.id }}</td>
                                                    <td>{{ complete_task.bid.id }}</td>
                                                    <td>{{ complete_task.bid.task.title }}</td>                    
                                                    <td>{{ complete_task.bid.freelancer}}</td>
                                                    {% if complete_task.rating %}
                                                    <td><span class="text-success">You have already reveiwed the results</span></td>
                                                    <td><span class="text-success">{{ complete_task.rating }}</span></td>
                                                    {% else %}
                                                    <td><a href="{% url 'complete_task_details' complete_task.bid.id complete_task.id complete_task.bid.freelancer.id complete_task.bid.task.pay %}" class="alert-link">Completed, Review Results</a></td>
                                                    <td> <span class="text-danger">Review results to rate the freelancer</span></td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                            <h3 class ="h4 mt-5 ml-4 mb-5">You do not have any complete tasks.</h3>
                                            {% endif %}
                                            
                                            </div>

                               
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}

