{% extends 'client/base.html' %}
{% block title %}
<title>Worksite| Client-Help</title>
{% endblock %}

{% block content%}
 <!-- Main content goes here -->
 <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Help Page</h4>
                        </div>
                           <div class="card-body">
                                <div class="container py-3">
                                        <div class="row">
                                            <div class="col-12">                             
                                
                                
                                                <div class="accordion" id="faqExample">
                                                    <div class="card">
                                                        <div class="card-header text-center p-3" id="headingOne">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                 Overview of Online Worksite
                                                                </button>
                                                              </h5>
                                                        </div>
                                    
                                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                    <strong>Online Worksite</strong>  is a platform where you as a client is linked with free mobile xperinced workers which are reffered to as Freelancers.
                                                                These freelancers will help to relieve some work load at small fee upon payments. We are glad that you have trust in our platform and believe that you will have a great experience.
                                                                Incase of any concerns please do not hesitate to talk to us.
                                                                <p><strong> Good luck {{ request.user.first_name }} {{ request.user.last_name }}</strong></p>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingTwo">
                                                            <h5 class="mb-0">
                                                            <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                              Signup and Authentication
                                                            </button>
                                                          </h5>
                                                        </div>
                                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                    <p>For signup you are required to provide some information that will identify you. The phone you proved needs to follow <strong> 254711111111</strong> format and the phone is recommended to be your personal phone, this will help to easien payments.</p>
                                                                    <p>Once signup is successful you can log in with correct credentials and explore the system.</p>
                                                                    <p>Incase there is <span class="text-warning">misconduct</span> your account can be <span class="text-danger">deactivated</span> as a warning or completely blocked, you should take note of that</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingThree">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                  Post Task
                                                                </button>
                                                              </h5>
                                                        </div>
                                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                <p>Once inside the system Navigate into task zone and you will take control of posting task process.</p>
                                                                <p>First the task details are provided and then proceed to payments, <span class="text-danger">Unpaid task are not visible for bidding</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingFour">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                                  Payments
                                                                </button>
                                                              </h5>
                                                        </div>
                                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                                                            <div class="card-body">
                                                               <p>Make sure you have enough amount in your MPESA account to carry out payments</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="card">
                                                            <div class="card-header text-center p-2" id="headingFive">
                                                                <h5 class="mb-0">
                                                                    <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                                      Rating Freelancers
                                                                    </button>
                                                                  </h5>
                                                            </div>
                                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                                                                <div class="card-body">
                                                                    <p>When a freelancer submits a task make sure you recieve and rate them as to how they have done your work. If you continuously dont rate them your account can be <span class="text-danger">DEACTIVATED</span> as a warning</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                
                                                        <div class="card">
                                                                <div class="card-header text-center p-2" id="headingSix">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                                                         Reassigning Tasks
                                                                        </button>
                                                                      </h5>
                                                                </div>
                                                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                                                                    <div class="card-body">
                                                                        <p>If the submitted work does not meet the expected standards you are allowed to reassign them only once. To avoid reassigning, provide clear descriptions for how you need your tasks to be handled.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card">
                                                                    <div class="card-header text-center p-2" id="headingSeven">
                                                                        <h5 class="mb-0">
                                                                            <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                                                             Comments
                                                                            </button>
                                                                          </h5>
                                                                    </div>
                                                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqExample">
                                                                        <div class="card-body">
                                                                            <p>In comment sections you are allowed even to ask questions.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                </div>
                                    
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--container-->
                               
                               
                          
                           </div>
                           <div class="card-header">
                                <p class="text-center">© 2019</p>
                           </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

</main>
</div>


{% endblock %}


