{% extends 'client/base.html' %}

{% block title %}
<title>Client-worksite | Home</title>
{% endblock %}

{% block content%}
            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Welcome</h4>
                                    </div>
                                       <div class="card-body">
                                           <p class="text-left h5 grey-text mt-5 ml-5 mr-5">
                                            Hello {{user.last_name}}, thanks for choosing this platform. We wish you all the best as you interact with our platform. Incase you get stuck anywhere, please feel free to refer to our online help menu or contact us for further information. <br><br><p class="h4 text-left grey-text mt-3 ml-5 mr-5">Goodluck.</p>
                                           </p>
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}

