{% extends 'client/base.html' %}

{% block title %}
<title>Worksite| Client-Tasks</title>
{% endblock %}

{% block content%}



            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">View Your Task History</h4>
                                    </div>
                                       <div class="card-body">
                                            {% if tasks %}
                                       <!-- Tab links -->
                                <div class="tab">
                                <button class="tablinks" id ="defaultOpen" onclick="openCity(event, 'London')">Tasks</button>
                                <!-- <button class="tablinks" onclick="openCity(event, 'Paris')">Messages</button> -->
                                <button class="tablinks" onclick="openCity(event, 'Tokyo')">Files</button>
                                </div>
                               


                                <!-- Tab content -->
                                <div id="London" class="tabcontent">
                               
                                <table class = "table  table-sm table-responsive-md" id="ClientTasks">
                                <thead>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Tittle</th>
                                        <th>Skill</th>
                                        <th>Education</th>
                                        <th>Due Date</th>
                                        <th>Format</th>
                                        <th>Price</th>
                                        <th>Paid<th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.id }}</td>
                                        <td>{{ task.title }}</td>                    
                                        <td>{{ task.best_skill }}</td>
                                        <td>{{ task.highest_education_level }}</td>
                                        <td>{{ task.expiry_date }}</td>
                                        <td>{{ task.documet_format }}</td>
                                        <td>{{ task.price }}</td>

                                        {% if task.paid %}
                                            <td><span class="text-success">Paid</span></td>
                                        {% else %}
                                             <td><a href="{% url 'pay_for_task' task.id %}" class="btn btn-primary ">Proceed to Payment</a></>
                                        {% endif %}
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                
                                </div>
                              
                               

                                <div id="Paris" class="tabcontent">
                                <h3>loading ....</h3>
                               
                                </div>

                                <div id="Tokyo" class="tabcontent">

                                <table class = "table">
                                <thead>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Tittle</th>                                                                              
                                        <th>File</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.id }}</td>
                                        <td>{{ task.title }}</td> 
                                        {% if task.task_file %}                                       
                                        <td> <a href="{{ task.task_file.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
                                        {% else %}
                                        <td class="text-danger">There were no files</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <h3 class ="h4  ml-4">You have not posted any tasks yet</h3>
                                {% endif %}
                               
                                </div>
                                         <!-- {% if user.is_account_active %}
                                               
                                          
                                            {% else %}
                                                <p class="text-left h5 grey-text mt-5 ml-5 mr-5">
                                                Hello {{user.last_name}}, thanks for choosing this platform. We wish you all the best as you interact with our platform. Incase you get stuck anywhere, please feel free to refer to our online help menu or contact us for further information.</p> <br>
                                                
                                                <p class="h5 text-left grey-text mt-3 ml-5 mr-5">Account is <span class="text-danger"> inactive.</span>This is due to either:
                                                        <ol type="i" class="ml-5">
                                                            <li>Not yet activated after signup, just be patient</li>
                                                            <li>Misbehaving on the platform, Contact admin for guidance</li>
                                                        </ol>
                                                 </p><br>
                                            
                                            {% endif %} -->
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

        

{% endblock %}

