{% extends 'client/base.html' %}

{% block title %}
<title>Worksite| Client-Tasks</title>
{% endblock %}

{% block content%}



            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">List of Reassigned Tasks</h4>
                                    </div>
                                       <div class="card-body">
                                            {% if tasks %}
                                       <!-- Tab links -->
                                        <div class="tab">
                                        <button class="tablinks" id ="defaultOpen" onclick="openCity(event, 'London')">Tasks</button>
                                        <!-- <button class="tablinks" onclick="openCity(event, 'Paris')">Messages</button> -->
                                        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Reassigned File</button>
                                        </div>
                                    


                                <!-- Tab content -->
                                <div id="London" class="tabcontent">
                               
                                <table class = "table table-sm table-responsive-md" id="ClientTasks">
                                <thead>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Bid ID</th>
                                        <th>Tittle</th>
                                        <th>Date</th>
                                        <th>Freelancer</th>
                                        <th>Reasons</th>
                                        <th>Status</th>
                                        <th></th>
                                        
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.bid.task.id }}</td>
                                        <td>{{ task.bid.id }}</td>
                                        <td>{{ task.bid.task.title }}</td>                    
                                        <td>{{ task.date }}</td>
                                        <td>{{ task.freelancer }}</td>
                                        <td>{{ task.reasons}} </td> 
                                         <td>
                                            {% if task.complete %}
                                             <span class="text-success">Completed</span>
                                             {% else %}
                                             <span class="text-danger">In progress</span>
                                             {% endif %}                                             
                                        </td>                              
                                         
                                        <td> 
                                            {% if task.complete %} 
                                            <a href="{% url 'review_reassigned_task' task.bid.id task.id %}" class="btn btn-sm btn-primary">Review</a>
                                            {% else %}
                                            <a href="{% url 'review_reassigned_task' task.bid.id task.id %}" class="btn btn-sm btn-primary disabled">Review</a>
                                            {% endif %} 
                                        </td>
                                       
                                        
                                      
                               
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                
                                </div>
                              
                               

                                <div id="Paris" class="tabcontent">
                                <h3>loading ....</h3>
                               
                                </div>

                                <div id="Tokyo" class="tabcontent">

                                <table class = "table" id="reassignedTask">
                                <thead>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Task Tittle</th>                                                                              
                                        <th>Reassigned File</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.bid.task.id }}</td>
                                        <td>{{ task.bid.task.title }}</td> 
                                        {% if task.file %}                                       
                                        <td> <a href="{{ task.file.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
                                        {% else %}
                                        <td class="text-danger">There were no files</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <h3 class ="h4  ml-4">No task has been reassigned yet</h3>
                                {% endif %}
                               
                                </div>
                                         <!-- {% if user.is_account_active %}
                                               
                                          
                                            {% else %}
                                                <p class="text-left h5 grey-text mt-5 ml-5 mr-5">
                                                Hello {{user.last_name}}, thanks for choosing this platform. We wish you all the best as you interact with our platform. Incase you get stuck anywhere, please feel free to refer to our online help menu or contact us for further information.</p> <br>
                                                
                                                <p class="h5 text-left grey-text mt-3 ml-5 mr-5">Account is <span class="text-danger"> inactive.</span>This is due to either:
                                                        <ol type="i" class="ml-5">
                                                            <li>Not yet activated after signup, just be patient</li>
                                                            <li>Misbehaving on the platform, Contact admin for guidance</li>
                                                        </ol>
                                                 </p><br>
                                            
                                            {% endif %} -->
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}

