{% extends 'freelancer/base.html' %}
{% block title %}
<title>Worksite| Freelancer-Help</title>
{% endblock %}

{% block content%}
 <!-- Main content goes here -->
 <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Help Page</h4>
                        </div>
                           <div class="card-body">
                                <div class="container py-3">
                                        <div class="row">
                                            <div class="col-12">                             
                                
                                
                                                <div class="accordion" id="faqExample">
                                                    <div class="card">
                                                        <div class="card-header text-center p-3" id="headingOne">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                        Over view of Online Worksite
                                                                </button>
                                                              </h5>
                                                        </div>
                                    
                                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                    <strong>Online Worksite</strong>  is a platform where you as a freelancer is linked with fclients, these are peolpe who need help to solve some tasks.
                                                                    These clients will pay you depending on the workload and type of the work they need you to pay. We are glad that you have trust in our platform and believe that you will have a great experience.
                                                                    Incase of any concerns please do not hesitate to talk to us.
                                                                    <p><strong> Good luck {{ request.user.first_name }} {{ request.user.last_name }}</strong></p>
                                                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingTwo">
                                                            <h5 class="mb-0">
                                                            <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                               Signup and Authentication
                                                            </button>
                                                          </h5>
                                                        </div>
                                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                    <p>For signup you are required to provide some information that will identify you. The phone you proved needs to follow <strong> 254711111111</strong> format and the phone is recommended to be your personal phone, this will help to easien payments.</p>
                                                                    <p>Once signup is successful you can log in with correct credentials, your account will be <span class="text-danger">inctive</span>  by default as your profile is being reviewed. When it is activated you can explore the system.</p>
                                                                    <p>Incase there is <span class="text-warning">misconduct</span> your account can be <span class="text-danger">deactivated</span> as a warning or completely blocked, you should take note of that</p>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingThree">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                  Bidding
                                                                </button>
                                                              </h5>
                                                        </div>
                                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                <p>If there are task available, you are allowed only to bid once and incase you have more than 3 pending task you cannnot bid for anyother task until your workload is done. This is to reduce the greed for money and to make sure you do quality work</p>
                                                                <p>The client with the task that you bidded will review your profile and onces they are satisfied they can assign you a task where you are required to finish with the stated time limit or else you will be fined and rated low</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingFour">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                                  Payments
                                                                </button>
                                                              </h5>
                                                        </div>
                                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                <p>Once you have completed a task, submit it on time and if not reassined you will be rated and payed the full amount. Incase of delay in payments, contact the admin via the platform.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="card">
                                                            <div class="card-header text-center p-2" id="headingFive">
                                                                <h5 class="mb-0">
                                                                    <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                                      Comments
                                                                    </button>
                                                                  </h5>
                                                            </div>
                                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                                                                <div class="card-body">
                                                                    <p>Questions are also allowed in comment section</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                
                                                        <div class="card">
                                                                <div class="card-header text-center p-2" id="headingSix">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                                                         Profile Management
                                                                        </button>
                                                                      </h5>
                                                                </div>
                                                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                                                                    <div class="card-body">
                                                                        <p>By default your accont is <span class="text-danger">inactive</span> and you only access limited features, onces <span class="text-success">active</span>  all the features are opened up for you. You can update your details except academics and skill, to upgrade your skills and academics just upload your new certificate and the admin will update your profile. </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                    
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--container-->
                               
                               
                          
                           </div>
                           <div class="card-header">
                                <p class="text-center">© 2019</p>
                           </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

</main>
</div>


{% endblock %}


