{% extends 'freelancer/base.html' %}
{% block title %}
<title>Worksite| Freelancer-Help</title>
{% endblock %}

{% block content%}
 <!-- Main content goes here -->
 <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Help Page</h4>
                        </div>
                           <div class="card-body">
                                <div class="container py-3">
                                        <div class="row">
                                            <div class="col-12">                             
                                
                                
                                                <div class="accordion" id="faqExample">
                                                    <div class="card">
                                                        <div class="card-header text-center p-3" id="headingOne">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                        Over view of Online Worksite
                                                                </button>
                                                              </h5>
                                                        </div>
                                    
                                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                <strong>Online Worksite</strong>  in details                          </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingTwo">
                                                            <h5 class="mb-0">
                                                            <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                               Signup and Authentication
                                                            </button>How to get authenticanted
                                                          </h5>
                                                        </div>
                                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                                                            <div class="card-body">
                                                               How to get authenticanted
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingThree">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                  Bidding
                                                                </button>
                                                              </h5>
                                                        </div>
                                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                Guide to make bids
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header text-center p-2" id="headingFour">
                                                            <h5 class="mb-0">
                                                                <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                                  Payments
                                                                </button>
                                                              </h5>
                                                        </div>
                                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                                                            <div class="card-body">
                                                                Guide of payments
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="card">
                                                            <div class="card-header text-center p-2" id="headingFive">
                                                                <h5 class="mb-0">
                                                                    <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                                      Comments
                                                                    </button>
                                                                  </h5>
                                                            </div>
                                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                                                                <div class="card-body">
                                                                    comment guide
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                
                                                        <div class="card">
                                                                <div class="card-header text-center p-2" id="headingSix">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn nav-link collapsed text-primary" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                                                         Profile Management
                                                                        </button>
                                                                      </h5>
                                                                </div>
                                                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                                                                    <div class="card-body">
                                                                        How to maintain high profile
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                    
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--container-->
                               
                               
                          
                           </div>
                           <div class="card-header">
                                <p class="text-center">© 2019</p>
                           </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

</main>
</div>


{% endblock %}


