{% extends 'freelancer/base.html' %}

{% block title %}
<title>Worksite| Freelancer-Home</title>
{% endblock %}

{% block content%}



            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Welcome</h4>
                                    </div>
                                       <div class="card-body">
                                           {% if count %}
                                           {% if count > 1%}
                                            <h5 class=" h5 ml-5">You have completed {{ count }} tasks</h5>
                                            {% else %}
                                            <h5 class=" h5 ml-5">You have completed {{ count }} task</h5>
                                            {% endif %}
                                            
                                            {% if rating.rating %}
                                            {% if rating.rating > 2.999 %}
                                            <h5 class=" h5 ml-5 mt-4">Your current rating is <span class="text-success">{{ rating.rating }}</span>, this according to how the clients have rated you from how you handled their tasks.</h5>
                                            {% else %}
                                            <h5 class=" h5 ml-5 mt-4">Your current rating is <span class="text-warning">{{ rating.rating }}</span>, this according to how the clients have rated you from how you handled their tasks.<br><span class="text-danger">Try no to be rated below 3, your account might be deactivated</span></h5>
                                            {% endif %}
                                           {% endif %}
                                            {% else %}
                                            <h5 class=" h5 ml-5">You have not done any tasks yet, keep bidiing, incase of anything contact us</h5>
                                           {% endif %}
                                           
                                          
                                         {% if user.is_account_active %}
                                                <p class="text-left h5 grey-text mt-5 ml-5 mr-5">
                                                    Hello {{user.last_name}}, thanks for choosing this platform. We wish you all the best as you interact with our platform. Incase you get stuck anywhere, please feel free to refer to our online help menu or contact us for further information.  </p><br>
                                                <p class="h5 text-left grey-text mt-3 ml-5 mr-5"> Account is <span class="text-success"> active.</span></p><br>
                                                <p class="h4 text-left grey-text mt-3 ml-5 mr-5">Goodluck.</p>
                                          
                                            {% else %}
                                                <p class="text-left h5 grey-text mt-5 ml-5 mr-5">
                                                Hello {{user.last_name}}, thanks for choosing this platform. We wish you all the best as you interact with our platform. Incase you get stuck anywhere, please feel free to refer to our online help menu or contact us for further information.</p> <br>
                                                
                                                <p class="h5 text-left grey-text mt-3 ml-5 mr-5">Account is <span class="text-danger"> inactive.</span>This is due to either:
                                                        <ol type="i" class="ml-5">
                                                            <li>Not yet activated after signup, just be patient</li>
                                                            <li>Misbehaving on the platform, Contact admin for guidance</li>
                                                        </ol>
                                                 </p><br>
                                            
                                            {% endif %}
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}

