{% extends 'freelancer/base.html' %}

{% block title %}
<title>Worksite| Freelancer-My Tasks</title>
{% endblock %}

{% block content%}



            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Assigned Tasks</h4>
                                    </div>
                                       <div class="card-body">

                                {%  if my_tasks %}
                                       <!-- Tab links -->
                                <div class="tab">
                                <button class="tablinks" id ="defaultOpen" onclick="openCity(event, 'London')">Tasks</button>
                                <!-- <button class="tablinks" onclick="openCity(event, 'Paris')">Messages</button> -->
                                <button class="tablinks" onclick="openCity(event, 'Tokyo')">Files</button>
                                </div>

                                <!-- Tab content -->
                                <div id="London" class="tabcontent">
                                <table class = "table table-sm table-responsive-md" id="FreelancerTasks">
                                <thead>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Tittle</th>
                                        <th>Due Date</th>
                                        <th>Format</th>
                                        <th>Price (Sh.)</th>
                                        <th></th>
                    
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in my_tasks %}
                                    {% if task.show %}
                                    <tr>
                                        <td>{{ task.task.id }}</td>
                                        <td>{{ task.task.title }}</td>                    
                                        <td>{{ task.task.expiry_date }}</td>
                                        <td>{{ task.task.documet_format }}</td>
                                        <td class="text-danger">{{ task.task.pay }}</td>
                                       
                                        <td><a href="{% url 'submit_task' task.id%}" class="btn btn-primary btn-sm">Submit Complete Task</a></td>                                                                         
                                    </tr>
                                   {% endif %} 
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <p class="h5 mt-5 text-warning">Please attend to the tasks before the stated due date to avoid fines</p>
                                </div>

                                <div id="Paris" class="tabcontent">
                                <h3>Loading ....</h3>
                               
                                </div>

                                <div id="Tokyo" class="tabcontent">

                                <table class = "table table-sm table-responsive-md" id="FreelancerTasksFiles">
                                <thead>
                                   <tr>
                                       <th>Task id</th>
                                       <th>Title</th>
                                       <th>Price (Sh)</th>
                                       <th>File</th>
                                   </tr>
                                </thead>
                                <tbody>
                                    {% for task in my_tasks %}
                                    <tr>
                                        <td>{{ task.task.id }}</td>
                                        <td>{{ task.task.title }}</td>
                                        <td class="text-danger">{{task.task.price}}</td>
                                        {% if task.task.task_file %}                                       
                                       <td><a href="{{ task.task.task_file.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td> 
                                       {% else %}
                                        <td class="text-danger">No files were attached</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                               
                                </div>
                                {% else %}
                                <p class = "h5"> You are not assigned any tasks currently </p>
                                {% endif %}
                                         {% if user.is_account_active %}
                                               
                                          
                                            {% else %}
                                                <p class="text-left h5 grey-text mt-5 ml-5 mr-5">
                                                Hello {{user.last_name}}, thanks for choosing this platform. We wish you all the best as you interact with our platform. Incase you get stuck anywhere, please feel free to refer to our online help menu or contact us for further information.</p> <br>
                                                
                                                <p class="h5 text-left grey-text mt-3 ml-5 mr-5">Account is <span class="text-danger"> inactive.</span>This is due to either:
                                                        <ol type="i" class="ml-5">
                                                            <li>Not yet activated after signup, just be patient</li>
                                                            <li>Misbehaving on the platform, Contact admin for guidance</li>
                                                        </ol>
                                                 </p><br>
                                            
                                            {% endif %}
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}

