{% extends 'freelancer/base.html' %}

{% block title %}
<title>Worksite| Freelancer-Home</title>
{% endblock %}

{% block content%}



            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Welcome</h4>
                                    </div>
                                       <div class="card-body">
                                         {% if user.is_account_active %}
                                           <div class="col-md-6">
                                                <h4 class="h4"><strong>Job type</strong></h4>
                                                <p class="h5 text-left grey-text mb-1">{{task.title}}</p>
                                                <hr class="h4 mb-3">

                                             <div class="row">
                                        
                                                <div class="col">
                                                        
                                                    <h5 class="h5  mt-4 ">Required skill</h5>
                                                    <p class="text-left grey-text mb-3">{{ task.best_skill }}</p>
    
                                                    <h5 class="h5">Minimum Education Level</h5>
                                                    <p class="text-left grey-text mb-3">{{ task.highest_education_level }}</p>
    
                                                    <h5 class="h5">Description</h5>
                                                    <p class="text-left grey-text mb-3">{{ task.description }}</p>

                                                   
                                                   
                                                </div>
                                                  
                                                  <div class="col ml-5">
                                                        <h5 class="h5 mt-4">Format </h5>
                                                        <p class="text-left grey-text mb-3">{{ task.documet_format }}</p>
        
                                                        <h5 class="h5">Date Posted </h5>
                                                        <p class="text-left grey-text mb-3">{{ task.date_posted }}</p>
        
                                                        <h5 class="h5">Due Date</h5>
                                                        <p class="text-left grey-text mb-3">{{ task.expiry_date }}</p>

                                                        <h5 class="h5">Price</h5>
                                                        <p class="text-left text-danger mb-3">{{ task.pay }}</p>
                                                        
                                                        <h5 class="h5">Job files </h5>
                                                        {% if task.task_file %}  
                                                        <a href="{{ task.task_file.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
                                                        {% else %}
                                                        <p class="text-left text-danger mb-3">No file Attached </p>
                                                        {% endif %}
                                                                                                            
                                                  </div>
                                                </div>
                                            </div>

                                        
                                          
                                            {% else %}
                                                <p class="text-left h5 grey-text mt-5 ml-5 mr-5">
                                                Hello {{user.last_name}}, thanks for choosing this platform. We wish you all the best as you interact with our platform. Incase you get stuck anywhere, please feel free to refer to our online help menu or contact us for further information.</p> <br>
                                                
                                                <p class="h5 text-left grey-text mt-3 ml-5 mr-5">Account is <span class="text-danger"> inactive.</span>This is due to either:
                                                        <ol type="i" class="ml-5">
                                                            <li>Not yet activated after signup, just be patient</li>
                                                            <li>Misbehaving on the platform, Contact admin for guidance</li>
                                                        </ol>
                                                 </p><br>
                                            
                                            {% endif %}
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}
