{% extends 'freelancer/base.html' %}

{% block title %}
<title>Worksite| Freelancer-Home</title>
{% endblock %}

{% block content%}



            <!-- Main content goes here -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Available Tasks</h4>
                                    </div>
                                       <div class="card-body">

                                            {% if messages%}
                                            {% for bidmsgs in messages %}
                                              <div class="alert alert-danger alert-dismissable text-center" role="alert">
                                                <button class="close" data-dismiss="alert">
                                                  <small><sup>x</sup></small>
                                                </button>
                                                {{ bidmsgs }}
                                              </div>
                                            {% endfor %}
                                          {% endif%}
                                           {% if tasks %}
                                            <!-- Tab links -->
                                        <div class="tab">
                                        <button class="tablinks" id ="defaultOpen" onclick="openCity(event, 'London')">Tasks</button>
                                        <!-- <button class="tablinks" onclick="openCity(event, 'Paris')">Messages</button> -->
                                        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Files</button>
                                        </div>

                                        <!-- Tab content -->
                                        <div id="London" class="tabcontent">
                                        <table class = "table">
                                        <thead>
                                            <tr>
                                                <th>Task ID</th>
                                                <th>Tittle</th>
                                                <th>Skill</th>
                                                <th>Education</th>
                                                <th>Due Date</th>
                                                <th>Format</th>
                                                <th>Price</th>
                                                <th>Jod Details</th>
                                                <!-- <th>Bid</th> -->
                            
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for task in tasks %}
                                            <tr>
                                                <td>{{ task.id }}</td>
                                                <td>{{ task.title }}</td>                    
                                                <td>{{ task.best_skill }}</td>
                                                <td>{{ task.highest_education_level }}</td>
                                                <td>{{ task.expiry_date }}</td>
                                                <td>{{ task.documet_format }}</td>
                                                <td>{{ task.pay }}</td>
                                                <td> <a href="{% url 'task_details' task.id%}">{{ task.title }}</a></td>                                                                   
                                                <td><a href="{% url 'place_bid' task.id%}" class="btn btn-primary btn-sm">Bid</a></td>                                                                               
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        
                                        </div>

                                        <div id="Paris" class="tabcontent">
                                        <h3>loading ....</h3>
                                    
                                        </div>

                                        <div id="Tokyo" class="tabcontent">

                                        <table class = "table">
                                        <thead>
                                        <tr>
                                            <th>Task id</th>
                                            <th>Title</th>
                                            <th>Price</th>
                                            <th>File</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for task in tasks %}
                                            <tr>
                                                <td>{{ task.id }}</td>
                                                <td>{{ task.title }}</td>
                                                <td>{{task.pay }}</td>
                                                {% if task.task_file %}                                       
                                            <td><a href="{{ task.task_file.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td> 
                                            {% else %}
                                                <td class="text-danger">No files were attached</td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                        {% else %}
                                        <h3 class ="h4  ml-4">There are no tasks available yet</h3>
                                        {% endif %}
                               
                                </div>
                                         {% if user.is_account_active %}
                                               
                                          
                                            {% else %}
                                                <p class="text-left h5 grey-text mt-5 ml-5 mr-5">
                                                Hello {{user.last_name}}, thanks for choosing this platform. We wish you all the best as you interact with our platform. Incase you get stuck anywhere, please feel free to refer to our online help menu or contact us for further information.</p> <br>
                                                
                                                <p class="h5 text-left grey-text mt-3 ml-5 mr-5">Account is <span class="text-danger"> inactive.</span>This is due to either:
                                                        <ol type="i" class="ml-5">
                                                            <li>Not yet activated after signup, just be patient</li>
                                                            <li>Misbehaving on the platform, Contact admin for guidance</li>
                                                        </ol>
                                                 </p><br>
                                            
                                            {% endif %}
                                       </div>
                                       <div class="card-header">
                                            <p class="text-center">© 2019</p>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

           </main>
        </div>

{% endblock %}

